.vscode
*.bat
# Visual Studio #
##########################
*.vcproj
*.vcxproj
*.ncb
*.user
*.sln
*.suo
*.db
*.filters
*.filters
*.opendb
bin/
obj/
.vs/

# Compiler files #
##################
nmc4vars_win.mk
ldscript
*.elf
*.o
*.abs
*.map
*.dump
*.a
*.lib
*.dll

*.dasm
test/
rod*.cpp
rod*.h