.vscode
*.bat
*.log
# Visual Studio #
##########################
*.vcproj
*.vcxproj
*.ncb
*.user
*.sln
*.suo
*.db
*.filters
*.filters
*.opendb
bin/
obj/
.vs/
obj_x86/
x86/

# Qt
*.user
*.stash
debug/
release/
build-*/
.tmp/
monitor/Makefile*
ui_*
moc_*
log_nmc0.txt
log_nmc1.txt

# Compiler files #
##################
nmc4vars_win.mk
ldscript
*.elf
*.o
*.abs
*.map
*.dump
*.a
*.lib
*.dll
*.d

# Execute files
*.exe
*.out
*.dasm
test/
rod*.cpp
rod*.h

# Scons
.sconsign.dblite